Repository PlasmaFAIR/fortitude, pull requests merged in 2025-05, with the labels that each got.

#426 Add rule for misleading semicolon following if statement
  docs/rules.md
  docs/rules/if-statement-semicolon.md
  fortitude/resources/test/fixtures/correctness/C151.f90
  fortitude/src/rules/correctness/conditionals.rs
  fortitude/src/rules/correctness/mod.rs
  fortitude/src/rules/correctness/snapshots/fortitude__rules__correctness__tests__c151_fix_multiple_inline_if.snap
  fortitude/src/rules/correctness/snapshots/fortitude__rules__correctness__tests__if-statement-semicolon_C151.f90.snap
  fortitude/src/rules/mod.rs
Labels: rule

#430 Don't raise `SyntaxError` for missing nodes if rule not enabled
  fortitude/src/check.rs
  fortitude/tests/check.rs
Labels: bug

#428 Add rule `misleading-inline-if-continuation`
  docs/rules.md
  docs/rules/misleading-inline-if-continuation.md
  fortitude/resources/test/fixtures/correctness/C152.f90
  fortitude/src/rules/correctness/conditionals.rs
  fortitude/src/rules/correctness/mod.rs
  fortitude/src/rules/correctness/snapshots/fortitude__rules__correctness__tests__misleading-inline-if-continuation_C152.f90.snap
  fortitude/src/rules/mod.rs
Labels: rule

#431 Add rule for non-portable short circuiting use of inquiry functions
  docs/rules.md
  docs/rules/nonportable-shortcircuit-inquiry.md
  fortitude/resources/test/fixtures/correctness/C161.f90
  fortitude/src/rules/correctness/mod.rs
  fortitude/src/rules/correctness/nonportable_shortcircuit_inquiry.rs
  fortitude/src/rules/correctness/snapshots/fortitude__rules__correctness__tests__nonportable-shortcircuit-inquiry_C161.f90.snap
  fortitude/src/rules/mod.rs
Labels: rule

#434 Clarify `line-too-long` behaviour for long strings and comments
  docs/rules/line-too-long.md
  fortitude/src/rules/style/line_length.rs
Labels: documentation

#436 Rename `if-statment-semicolon` -> `misleading-inline-if-semicolon`
  docs/rules.md
  docs/rules/misleading-inline-if-semicolon.md
  fortitude/src/rules/correctness/conditionals.rs
  fortitude/src/rules/correctness/mod.rs
  fortitude/src/rules/correctness/snapshots/fortitude__rules__correctness__tests__misleading-inline-if-semicolon_C151.f90.snap
  fortitude/src/rules/mod.rs
Labels: internal

#438 Add rule `split-escaped-quote`
  docs/rules.md
  docs/rules/split-escaped-quote.md
  fortitude/resources/test/fixtures/correctness/C171.f90
  fortitude/src/rules/correctness/mod.rs
  fortitude/src/rules/correctness/snapshots/fortitude__rules__correctness__tests__split-escaped-quote_C171.f90.snap
  fortitude/src/rules/correctness/split_escaped_quote.rs
  fortitude/src/rules/mod.rs
  scripts/add_rule.py
Labels: rule

#439 CI: Bump runner images
  .github/workflows/release.yml
  dist-workspace.toml
Labels: internal

#448 Fix typo in setting variable names
  docs/rules/keyword-has-whitespace.md
  docs/rules/keywords-missing-space.md
  docs/settings.md
  fortitude/src/options.rs
  fortitude/src/rules/style/keywords.rs
Labels: bug, documentation

#447 Fix `non-portable-io-unit` triggering on any magic number
  docs/rules/non-portable-io-unit.md
  fortitude/resources/test/fixtures/portability/PORT001.f90
  fortitude/src/rules/portability/magic_io_unit.rs
Labels: rule

#446 Add rule `avoidable-escaped-quote`
  docs/rules.md
  docs/rules/avoidable-escaped-quote.md
  docs/rules/bad-quote-string.md
  fortitude/resources/test/fixtures/style/S242.f90
  fortitude/src/rules/mod.rs
  fortitude/src/rules/style/mod.rs
  fortitude/src/rules/style/snapshots/fortitude__rules__style__tests__avoidable-escaped-quote_S242.f90.snap
  fortitude/src/rules/style/strings.rs
Labels: rule

#453 Strip options from test output
  fortitude/tests/check.rs
Labels: internal

#459 Add dev command to print the AST
  Cargo.lock
  Cargo.toml
  README.dev.md
  fortitude/Cargo.toml
  fortitude_dev/Cargo.toml
  fortitude_dev/src/main.rs
  fortitude_dev/src/parse.rs
Labels: internal

#460 Add incorrect-space-between-brackets rule
  .github/workflows/format.yml
  docs/rules.md
  docs/rules/incorrect-space-between-brackets.md
  fortitude/resources/test/fixtures/style/S104.f90
  fortitude/src/rules/mod.rs
  fortitude/src/rules/style/mod.rs
  fortitude/src/rules/style/snapshots/fortitude__rules__style__tests__incorrect-space-between-brackets_S104.f90.snap
  fortitude/src/rules/style/whitespace.rs
Labels: rule
